<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!-- 日志级别 本项目 -->
    <!-- <logger name="cn.edu.hebau.liuyang" level="TRACE"/> -->
    <logger name="liuyang.testspringbootenv.modules.web" level="info"/>
    <logger name="org.apache" level="info"/>

    <!-- 日志样式及输出位置 -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"></property>
    <property name="CONSOLE_LOG_CHARSET" value="UTF8"></property>
    <!-- 控制台 -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE_APPENDER" />
    </root>
</configuration>