<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <!-- from cdn -->
    <!--<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">-->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js" crossorigin="anonymous"></script>
    <!-- from local webjar -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <!-- from local raw -->

</head>
<body>
    <div class="container">
        <h2 class="page-header">Thymeleaf & Webjars</h2>
        <span>Data from Spring controller: Welcome <span th:text="${username}"></span><br></span>
        <button class="btn btn-primary">请求(看控制台)</button>
    </div>
    <script>
        const btns = document.querySelectorAll("button");

        btns[0].onclick = async function() {
            let duanzi = await axios({
                method: 'GET'
                , url: 'https://api.apiopen.top/getJoke'
            });
            console.log(duanzi.data.result);
        }
    </script>
</body>
</html>