<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/axios/dist/axios.js"></script>
    <title>自定义登录页</title>
</head>
<body>
<div class="container">
    <!-- /login是SpringSecurity提供的默提交入口 -->
    <form name="f" th:action="@{/login}" method="post">
        <div th:if="${param.error}"
             th:text="#{login.page.bad-credential}"
             class="alert alert-danger">
            错误的用户名或密码。
        </div>
        <div th:if="${param.logout}"
             th:text="#{login.page.logout.msg}"
             class="alert alert-success">
            您已注销。
        </div>
        <div class="form-group">
            <label for="username" th:text="#{login.page.form.username}">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password" th:text="#{login.page.form.password}">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
            <label class="form-check-label" for="remember-me" th:text="#{login.page.form.remember-me}">记住我</label>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{login.page.form.submit}">提交</button>
    </form>
</div>
<script>
    /*
    const btns = document.querySelectorAll("button");

    btns[0].onclick = async function() {
        let duanzi = await axios({
            method: 'GET'
            , url: 'https://api.apiopen.top/getJoke'
        });
        console.log(duanzi.data.result);
    }
     */
</script>
</body>
</html>